@media all and (max-width: 500px) {
    body{
        background-image: url('image/backgroundDragonball.svg');
        background-repeat: no-repeat;
        height: 100vh;
    }
    .title{
        font-size: 20px;
    }
    .name-point{
        font-size: 20px;
        text-align: center;
    }
    .timerone{
        font-size: 30px;
        text-align:center;
    }
    .head{
        display: flex ;
        justify-content: center;
        /* height: 100vh; */
    }
    .ball{
        width: 20px;
        height: 20px;
    }
    .sangoku-img{
        width: 50px;
        height: 50px;
    }
    .win_contain{
        display: block;
        justify-content: center;
        align-items: center;
        
    }
    .win{
        font-size: 30px;
    }
    .rejouer{
        margin-left: 40px;
    }
    .ok{
        display: flex;
    }
    /* .cart{
        width: 20px;
    } */
    .cart1{
        width:80px
    }
    .cart2{
        width: 80px;
    }
    .cart3{
        background-image: url(https://thumbs.coleka.com/media/rubrique/201803/28/cartes-de-collection-dragon-ball-super-jcc_300x300.webp);
        background-size: cover;
        height: 250px;
        border-radius: 20px;
        width: 80px;
    }
    .cart4{
        background-image: url(https://thumbs.coleka.com/media/rubrique/201803/28/cartes-de-collection-dragon-ball-super-jcc_300x300.webp);
        background-size: cover;
        height: 250px;
        border-radius: 20px;
        width: 80px;
    }
    .cart5{
        background-image: url(https://thumbs.coleka.com/media/rubrique/201803/28/cartes-de-collection-dragon-ball-super-jcc_300x300.webp);
        background-size: cover;
        height: 250px;
        border-radius: 20px;
        width: 80px;
    }
    .cart6{
        background-image: url(https://thumbs.coleka.com/media/rubrique/201803/28/cartes-de-collection-dragon-ball-super-jcc_300x300.webp);
        background-size: cover;
        height: 250px;
        border-radius: 20px;
        width: 80px;
    }
    .cart7{
        background-image: url(https://thumbs.coleka.com/media/rubrique/201803/28/cartes-de-collection-dragon-ball-super-jcc_300x300.webp);
        background-size: cover;
        height: 250px;
        border-radius: 20px;
        width: 80px;
    }
    .cart8{
        background-image: url(https://thumbs.coleka.com/media/rubrique/201803/28/cartes-de-collection-dragon-ball-super-jcc_300x300.webp);
        background-size: cover;
        height: 250px;
        border-radius: 20px;
        width: 80px;
    }
}